{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/estilos_home/footerPaciente.css' %}">
</head>

<footer>
  <h5 class="h6" style="padding-top: 10px !important;">2023 WAPIPTDAH, Todos los Derechos Reservados</h5>
  <img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp">
  <img src="{% static 'img/gmail.png' %}" alt="Gmail">
</footer>


</html>