.header {
    display: flex;
    /* Establece el contenedor como un contenedor flexible */
    justify-content: space-between;
    /* Distribuye el espacio disponible horizontalmente entre los elementos */
    align-items: center;
    /* Centra verticalmente los elementos en el contenedor */
    padding: 50px;
    /* Espaciado interno del encabezado */
    background-color: #0c2342;
    /* Establece el color de fondo del encabezado */
}

.left-section {
    flex: 1;
    /* Establece el tamaño flexible del 1 para la sección izquierda */
}

.title_header {
    text-align: center;
    /* Centra el texto del encabezado */
    color: white;
    /* Establece el color del texto del encabezado */
    font-size: 2rem;
    /* Establece el tamaño de la fuente del encabezado */
}

.subtitle_header {
    text-align: center;
    /* Centra el texto del subencabezado */
    color: white;
    /* Establece el color del texto del subencabezado */
    font-style: italic;
    /* Establece la fuente en cursiva para el subencabezado */
    font-family: "Times New Roman", serif;
    /* Establece la fuente del subencabezado */
    font-size: 1rem;
    /* Establece el tamaño de la fuente del subencabezado */
}

.right-section {
    flex: 5;
    /* Establece el tamaño flexible del 5 para la sección derecha */
    text-align: right;
    /* Alinea el contenido de la sección derecha a la derecha */
}

.menu {
    list-style-type: none;
    /* Elimina los estilos de lista */
    display: flex;
    /* Establece el menú como un contenedor flexible */
    flex-direction: row;
    /* Organiza los elementos del menú en una fila */
    justify-content: flex-end;
    /* Alinea los elementos del menú a la derecha */
}

.menu li {
    display: inline-block;
    /* Muestra los elementos del menú en línea */
    margin-right: 10px;
    /* Establece un margen derecho para los elementos del menú */
}

.menu li a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces del menú */
    font-family: "Poppins", sans-serif;
    /* Establece la fuente de los enlaces del menú */
    color: white;
    /* Establece el color del texto de los enlaces del menú */
}

.menu li:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último elemento del menú */
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        /* Envuelve los elementos del encabezado en varios líneas cuando el ancho de la pantalla es menor o igual a 768px */
    }

    .left-section,
    .right-section {
        flex-basis: 100%;
        /* Establece el ancho del 100% para las secciones izquierda y derecha en pantallas más pequeñas */
        text-align: center;
        /* Centra el contenido de las secciones izquierda y derecha */
    }

    .menu li {
        display: block;
        /* Muestra los elementos del menú en bloques en pantallas más pequeñas */
        margin: 5px 0;
        /* Establece un margen vertical para los elementos del menú */
    }
}