{% load static %} {% include 'partials/superiorRegister.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/estilos_register/nuevo.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>
    <title>Edicion | Usuario</title>
</head>

{% block content %}

<body>
    <div class="container">
        <div class="container barraSup row">
            <div class="card-body col-md-7">
                <h4>Edición de Usuario Común</h4>
            </div>
            <div class="card-body col-md-1">
                <a href="{% url 'listado_nivel_TDAH_c' slug=slug %}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
        <div class="container card card-body" style="border-color: black;">
            {% if error %}
            <span id="error-span">{{ error }}</span>
            {% endif %}
            <form action="{% url 'editar_comun' slug=slug %}" method="POST">
                {% csrf_token %}
                <!-- Campos del formulario -->
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa el nombre**" value="{{ comun.nombre }}" autofocus />
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Ingresa el apellido**" value="{{ comun.apellido }}"/>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                    <input onclick="info()" type="email" id="email" name="email" placeholder="Ingresa el correo**" value="{{ comun.correo_electronico }}"/>
                </div>
                <div class="form-group">
                    <label for="celular">Celular:</label>
                    <input type="text" id="celular" name="celular" maxlength="10" placeholder="Ingresa tu celular**"
                        onkeypress="return soloNumeros(event)" value="{{ comun.numero_celular }}"/>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha" name="fecha" value="{{ comun.fecha_nacimiento }}"/>
                </div>
                <div class="form-group">
                    <label for="genero">Genero:</label>
                    <select id="genero" name="genero">
                        <option value="Masculino" {% if comun.genero == 'Masculino' %} selected {% endif %} >Masculino</option>
                        <option value="Femenino" {% if comun.genero == 'Femenino' %} selected {% endif %} >Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="area">Area de estudio:</label>
                    <select id="area" name="area">
                        <option value="Licenciatura" {% if comun.area_estudio == 'Licenciatura' %} selected {% endif %} >Tecnico Informático</option>
                        <option value="Psicopedagogia" {% if comun.area_estudio == 'Psicopedagogia' %} selected {% endif %} >Psicopedagogía</option>
                        <option value="Parvularia" {% if comun.area_estudio == 'Parvularia' %} selected {% endif %} >Parvularia</option>
                    </select>
                </div>
                <!-- Otros campos del formulario -->
                <button onclick=" return enviar()" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/controlerCampusRegister/validar_campos_comun.js' %}"></script>

</body>
{% endblock content %}
{% include 'partials/parteFinal.html'%}