{% load static %} {% include 'partials/superiorRegister.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/estilos_register/nuevo.css' %}" />
</head>

{% block content %}

<body>
    <div class="container" style="padding-top: 6%;">
        <div class="container barraSup ">
            <h4>Selección de actividad</h4>
        </div>
        <div class="container card card-body" style="border-color: black;">
            <form id="myForm" method="POST">
                {% csrf_token %}
                <!-- Campos del formulario -->
                <div class="form-group">
                    <label for="actividad">Actividad</label>
                    <select id="actividad" name="actividad" onchange="actualizarRuta()">
                        <option value="none">None</option>
                        <option value="UsuarioComun">Usuario Común</option>
                        <option value="UsuarioTecnico">Usuario Técnico</option>
                        <option value="Paciente">Paciente</option>
                    </select>
                </div>
                <!-- Otros campos del formulario -->
                <button type="submit" title="Selecciona rol">Elegir</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/controlerCampusRegister/select_activity.js' %}"></script>
</body>

{% endblock content %}
{% include 'partials/parteFinal.html'%}
